body {
    width: 10rem;
    max-width: 10rem;
    /* 成为达人 */
    .become_daren{
        width: 10rem;
        height: 1.12rem;
        border-bottom:1px solid #eee;
        h2{
            color:#222;
            font-size: .373333rem;
            font-family: 'PingFang-SC-Medium';
            text-align: center;
            line-height: 1.12rem;
        }
    }
    /* 达人头像信息 */
    .personal_info{
        width: 10rem;
        height: 3.12rem;
        background:pink;
    }
}