body {
  width: 10rem;
  max-width: 10rem;
  /* 达人特权 */
  /* 成为知儿达人的说明 */
  /* 申请条件 */
  /* loading */
}
body article {
  width: 10rem;
  height: 5.386667rem;
  text-align: center;
}
body article .explain {
  color: #222222;
  font-size: .373333rem;
  font-family: 'PingFang-SC-Bold';
  font-weight: 600;
  position: relative;
  width: 10rem;
  height: 2.106667rem;
  line-height: 2.106667rem;
}
body article .explain::after {
  content: '';
  width: .72rem;
  height: .053333rem;
  position: absolute;
  left: 4.64rem;
  bottom: .586667rem;
}
body article .prerogative {
  width: 10rem;
  height: 3.333333rem;
  display: flex;
}
body article .prerogative .prerogative_left,
body article .prerogative .prerogative_center,
body article .prerogative .prerogative_right {
  width: 33.33333%;
  text-align: center;
  font-family: 'PingFang-SC-Medium';
  font-size: .373333rem;
  color: #666666;
}
body article .prerogative .prerogative_left .video_01 {
  margin: 0 auto;
  width: 2.213333rem;
  height: 1.04rem;
}
body article .prerogative .prerogative_left .video_01 img {
  width: 100%;
  height: 100%;
}
body article .prerogative .prerogative_left p {
  margin-top: .373333rem;
}
body article .prerogative .prerogative_center .daren {
  margin: 0 auto;
  width: 1.6rem;
  height: .986667rem;
}
body article .prerogative .prerogative_center .daren img {
  width: 100%;
  height: 100%;
}
body article .prerogative .prerogative_center p {
  padding-top: .453333rem;
}
body article .prerogative .prerogative_right .shalou {
  margin: 0 auto;
  width: .853333rem;
  height: 1.173333rem;
}
body article .prerogative .prerogative_right .shalou img {
  width: 100%;
  height: 100%;
}
body article .prerogative .prerogative_right p {
  padding-top: .373333rem;
}
body .zhierdaren {
  width: 10rem;
  height: 1.306667rem;
}
body .zhierdaren p {
  color: #999999;
  font-size: .373333rem;
  font-family: 'PingFang-SC-Medium';
  text-align: center;
}
body .requirement {
  width: 10rem;
  height: 9.333333rem;
  /* 申请条件标题 */
  /* 完善资料 */
  /* 等级攻略 */
  /* 发布功课 */
  /* 逛逛耳圈 */
  /* 申请达人按钮 */
}
body .requirement .requirement_title {
  width: 10rem;
  height: 1.12rem;
}
body .requirement .requirement_title h2 {
  font-size: .373333rem;
  color: #222222;
  position: relative;
  text-align: center;
}
body .requirement .requirement_title h2::after {
  content: '';
  width: .72rem;
  height: .053333rem;
  position: absolute;
  bottom: -0.24rem;
  left: 4.64rem;
}
body .requirement .information {
  width: 8.4rem;
  height: 1.2rem;
  margin: 0 auto;
  display: flex;
}
body .requirement .information .information_left {
  flex-grow: 1;
}
body .requirement .information .information_left .info {
  display: flex;
  padding-top: .213333rem;
}
body .requirement .information .information_left .info p {
  color: #222222;
  font-size: .293333rem;
  font-family: 'PingFang-SC-Bold';
  font-weight: 600;
  padding-right: .133333rem;
}
body .requirement .information .information_left .info .info_i {
  width: .426667rem;
  height: .32rem;
  display: block;
  margin-top: .106667rem;
}
body .requirement .information .information_left .info .info_i img {
  width: 100%;
  height: 100%;
  display: block;
}
body .requirement .information .information_right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
body .requirement .information .information_right .info_gl {
  width: 1.866667rem;
  height: .8rem;
  color: #999999;
  border: .026667rem solid #999999;
  border-radius: .133333rem;
}
body .requirement .information .information_right .info_gl a {
  font-size: .32rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: .8rem;
  font-family: 'PingFang-SC-Medium';
}
body .requirement .strategy {
  width: 8.4rem;
  height: 1.2rem;
  margin: 0 auto;
  display: flex;
}
body .requirement .strategy .strategy_left {
  flex-grow: 1;
}
body .requirement .strategy .strategy_left .strategy_dj {
  display: flex;
  padding-top: .213333rem;
}
body .requirement .strategy .strategy_left .strategy_dj p {
  color: #222222;
  font-size: .293333rem;
  font-family: 'PingFang-SC-Bold';
  font-weight: 600;
  padding-right: .133333rem;
}
body .requirement .strategy .strategy_left .strategy_dj .strategy_i {
  width: .426667rem;
  height: .32rem;
  display: block;
  margin-top: .106667rem;
}
body .requirement .strategy .strategy_left .strategy_dj .strategy_i img {
  width: 100%;
  height: 100%;
  display: block;
}
body .requirement .strategy .strategy_right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
body .requirement .strategy .strategy_right .strategy_gl {
  width: 1.866667rem;
  height: .8rem;
  color: #999999;
  border: .026667rem solid #999999;
  border-radius: .133333rem;
}
body .requirement .strategy .strategy_right .strategy_gl a {
  font-size: .32rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: .8rem;
  font-family: 'PingFang-SC-Medium';
}
body .requirement .lesson {
  width: 8.4rem;
  height: 1.2rem;
  margin: 0 auto;
  display: flex;
}
body .requirement .lesson .lesson_left {
  flex-grow: 1;
}
body .requirement .lesson .lesson_left .lesson_gk {
  display: flex;
  padding-top: .213333rem;
}
body .requirement .lesson .lesson_left .lesson_gk p {
  color: #222222;
  font-size: .293333rem;
  font-family: 'PingFang-SC-Bold';
  font-weight: 600;
  padding-right: .133333rem;
}
body .requirement .lesson .lesson_left .lesson_gk .lesson_i {
  width: .426667rem;
  height: .32rem;
  display: block;
  margin-top: .106667rem;
}
body .requirement .lesson .lesson_left .lesson_gk .lesson_i img {
  width: 100%;
  height: 100%;
  display: block;
}
body .requirement .lesson .lesson_right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
body .requirement .lesson .lesson_right .lesson_gl {
  width: 1.866667rem;
  height: .8rem;
  color: #999999;
  border: .026667rem solid #999999;
  border-radius: .133333rem;
}
body .requirement .lesson .lesson_right .lesson_gl a {
  font-size: .32rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: .8rem;
  font-family: 'PingFang-SC-Medium';
}
body .requirement .stroll {
  width: 8.4rem;
  height: 1.2rem;
  margin: 0 auto;
  display: flex;
}
body .requirement .stroll .stroll_left {
  flex-grow: 1;
}
body .requirement .stroll .stroll_left .stroll_er {
  display: flex;
  padding-top: .213333rem;
}
body .requirement .stroll .stroll_left .stroll_er p {
  color: #222222;
  font-size: .293333rem;
  font-family: 'PingFang-SC-Bold';
  font-weight: 600;
  padding-right: .133333rem;
}
body .requirement .stroll .stroll_left .stroll_er .stroll_i {
  width: .426667rem;
  height: .32rem;
  display: block;
  margin-top: .106667rem;
}
body .requirement .stroll .stroll_left .stroll_er .stroll_i img {
  width: 100%;
  height: 100%;
  display: block;
}
body .requirement .stroll .stroll_right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
body .requirement .stroll .stroll_right .stroll_gl {
  width: 1.866667rem;
  height: .8rem;
  color: #999999;
  border: .026667rem solid #999999;
  border-radius: .133333rem;
}
body .requirement .stroll .stroll_right .stroll_gl a {
  font-size: .32rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: .8rem;
  font-family: 'PingFang-SC-Medium';
}
body .requirement .daren_btn {
  width: 2.4rem;
  height: .933333rem;
  border-radius: .133333rem;
  margin: .266667rem auto auto auto;
}
body .requirement .daren_btn a {
  background: #262B2E;
  border-radius: .133333rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: .933333rem;
  color: #fff;
  font-size: .373333rem;
  font-weight: 600;
}
body .requirement .daren_btn a.cur {
  background: #bbb;
}
body .requirement .daren_btn .jinyong {
  background: #bbb;
  border-radius: .133333rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: .933333rem;
  color: #fff;
  font-size: .373333rem;
  font-weight: 600;
}
body #loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 1.866667rem;
  height: 1.866667rem;
}
body #loading #loading_info {
  background: url(../images/donghua_01.gif) no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}
