body {
  width: 10rem;
  max-width: 10rem;
  /* 经验值说明标题 */
  /* 经验说明 */
}
body article {
  width: 10rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}
body article .explain {
  color: #222222;
  font-size: .373333rem;
  font-family: 'PingFang-SC-Bold';
  font-weight: 600;
  position: relative;
}
body article .explain::after {
  content: '';
  width: .72rem;
  height: .053333rem;
  background: #16A5AF;
  position: absolute;
  left: 4.64rem;
  bottom: .266667rem;
}
body .section_text {
  width: 8.933333rem;
  height: 9.306667rem;
  margin: 0 auto;
}
body .section_text ul {
  width: 100%;
  height: 100%;
}
body .section_text ul li {
  position: relative;
  width: 8.613333rem;
  height: .64rem;
  font-family: 'PingFang SC';
  color: #666666;
  font-size: .373333rem;
  padding-left: .32rem;
  /* 左边的小圆点 */
}
body .section_text ul li span {
  font-weight: 600;
  color: #222;
}
body .section_text ul li:nth-child(9) {
  padding: 0;
}
body .section_text ul li:nth-child(9)::after {
  display: none;
}
body .section_text ul li::after {
  content: '';
  width: .133333rem;
  height: .133333rem;
  background: #16A5AF;
  border-radius: 50%;
  position: absolute;
  top: .213333rem;
  left: 0;
}
