@f: #fff;
@2: #222;
@9: #999;
@6: #666;
@b: #bbb;
@3: #333;
body {
    width: 10rem;
    max-width: 10rem; // background:green;
    .wrapper {
        width: 9.466667rem;
        margin: 0 auto;
        background: #16A5AF;
        margin-bottom: 1.386667rem;
        /* 基本信息 */
        .user{
            width: 9.36rem;
            height: 2.373333rem;
            background: @f;
            margin: 0 .053333rem;
            .user_ul{
                width: 100%;
                height: 1.6rem;
                li{
                    float: left;
                    &:nth-child(1){border-radius: 50%; width: .8rem;height: .8rem;margin:.4rem 0 0 .373333rem;img{object-fit: cover;width: 100%;height: 100%;border-radius: 50%}}
                    &:nth-child(2){margin:.4rem 0 0 .133333rem;p{font-size:.32rem;&:nth-child(1){color:@6;}&:nth-child(2){color:@b;font-weight:100;}}}
                    &:nth-child(3){margin:.666667rem .293333rem 0 0;float: right;span{font-size:.32rem;color:@9;}}
                }
            }
            .date{color:@9;font-size:.266667rem;padding-left:.346667rem;}
        }
        /* Po */
        .Po {
            width: 9.36rem;
            background: @f;
            margin: 0 .053333rem;
            /* 图片+播放按钮 */
            .Po_top {
                margin: 0 auto;
                width: 8.933333rem;
                height: 5.333333rem;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            /* 文字介绍 */
            .introduce {
                padding: 0 .266667rem;
                text-align: left;
                p {
                    font-size: .373333rem;
                    color: @2;
                    line-height: .5625rem;
                    &:nth-child(1) {
                        padding-top: .32rem;
                    }
                    &:nth-child(2) {
                        padding: .4rem 0 .613333rem 0;
                    }
                }
            }
            /* 点击/查看量 */
            .examine {
                margin: 0 .266667rem; // background: red;
                display: flex;
                text-align: center;
                width: 8.8rem;
                height: .8rem;
                border-top: .013333rem solid @2;
                border-bottom: .013333rem solid @2;
                span {
                    font-size: .373333rem;
                    color: @2;
                    flex: 1;
                    height: .8rem;
                    line-height: .8rem;
                    position: relative;
                    &:nth-child(1) {
                        &::after {
                            content: '';
                            width: .293333rem;
                            height: .24rem;
                            background: url(../../images/share_img/comment_01.png) no-repeat;
                            background-size: cover;
                            position: absolute;
                            top: .266667rem;
                            left: .533333rem;
                        }
                    }
                    &:nth-child(2) {
                        &::after {
                            content: '';
                            width: .4rem;
                            height: .24rem;
                            background: url(../../images/share_img/comment_04.png) no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: .266667rem;
                            left: .533333rem;
                        }
                    }
                    &:nth-child(3) {
                        &::after {
                            content: '';
                            width: .293333rem;
                            height: .24rem;
                            background: url(../../images/share_img/collect_01.png) no-repeat;
                            background-size: cover;
                            position: absolute;
                            top: .266667rem;
                            left: .533333rem;
                        }
                    }
                }
            }
        }
        /* 点击评论按钮 */
        .btn {
            width: 9.36rem;
            height: 1.946667rem;
            background: @f;
            margin: 0 .053333rem 0 .053333rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom:.053333rem solid #16A5AF;
            .btn_discuss {
                width: 3.333333rem;
                height: .933333rem;
                color: @2;
                border-radius: .48rem;
                border: 1px solid @2;
                text-align: center;
                line-height: .933333rem;
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    font-size: .4rem;
                    font-weight: 600;
                }
            }
        }
       
    }
    /* 底边 */
    .dibian {
        background: #16A5AF;
        width: 9.466667rem;
        height: .053333rem;
        margin: 0 auto;
    }
    /* 顶出来的空间 */
    // .test {
    //     width: 9.36rem;
    //     height: 1.386667rem;
    // }
}