@f: #fff;
@2: #222;
@9: #999;
@6: #666;
@b: #bbb;
@3: #333;
body {
    width: 10rem;
    max-width: 10rem; // background:green;
    .wrapper {
        width: 9.466667rem;
        margin: 0 auto;
        background: #16A5AF;
        margin-bottom: 1.386667rem;
        /* 小白必看 */
        .must {
            width: 9.36rem;
            height: 3.866667rem;
            background: @f;
            margin: 0 .053333rem;
            .must_top {
                color: @2;
                font-size: .48rem;
                font-weight: 700;
                padding: .4rem .4rem .373333rem .346667rem
            }
            .must_center {
                color: @9;
                font-size: .266667rem;
                padding: 0 0 .266667rem .346667rem;
            }
            .must_bottom {
                // display: flex;
                width: 100%;
                img {
                    float: left;
                    width: .8rem;
                    height: .8rem;
                    background: red;
                    border-radius: 50%;
                    margin-left: .373333rem;
                }
                .must_name {
                    float: left;
                    padding-left: .133333rem;
                    p {
                        font-size: .32rem;
                        &:nth-child(1) {
                            color: @9;
                        }
                        &:nth-child(2) {
                            color: @b;
                        }
                    }
                }
                .must_span {
                    // display: flex;
                    float: right;
                    padding-right: .4rem; // justify-content:flex-end;
                    // display: block;
                    color: @9;
                    font-size: .32rem;
                }
            }
        }
        /* SK2 */
        .sk {
            width: 9.36rem;
            background: @f;
            margin: 0 .053333rem;
            .sk_ul {
                width: 100%;
                height: 100%;
                padding-top: .533333rem;
                li {
                    &:nth-child(1) {
                        p {
                            position: relative;
                            margin-left: .666667rem;
                            font-size: .4rem;
                            color: @2;
                            &::after {
                                content: '';
                                background: #16A5AF;
                                width: .066667rem;
                                height: .4rem;
                                position: absolute;
                                top: .08rem;
                                left: -.266667rem;
                            }
                        }
                    }
                    &:nth-child(2) {
                        margin-top: .4rem;
                        display: flex;
                        i {
                            flex: 1;
                            text-align: center;
                            line-height: .666667rem;
                            margin: 0 .266667rem 0 .293333rem;
                            width: 1.2rem;
                            height: .666667rem;
                            background: @3;
                            border-radius: .32rem;
                            font-size: .373333rem;
                            color: @f;
                        }
                        span {
                            flex: 8;
                            color: @2;
                            font-size: .373333rem;
                        }
                    }
                    &:nth-child(3) {
                        margin-top: .4rem;
                        display: flex;
                        i {
                            flex: 1;
                            text-align: center;
                            line-height: .666667rem;
                            margin: 0 .266667rem 0 .293333rem;
                            width: 1.2rem;
                            height: .666667rem;
                            background: @3;
                            border-radius: .32rem;
                            font-size: .373333rem;
                            color: @f;
                        }
                        span {
                            flex: 8;
                            color: @2;
                            font-size: .373333rem;
                        }
                    }
                    &:nth-child(4) {
                        margin-top: .4rem;
                        display: flex;
                        i {
                            flex: 1;
                            text-align: center;
                            line-height: .666667rem;
                            margin: 0 .266667rem 0 .293333rem;
                            width: 1.2rem;
                            height: .666667rem;
                            background: @3;
                            border-radius: .32rem;
                            font-size: .373333rem;
                            color: @f;
                        }
                        span {
                            flex: 8;
                            color: @2;
                            font-size: .373333rem;
                        }
                    }
                    &:nth-child(5) {
                        margin-top: .4rem;
                        display: flex;
                        i {
                            flex: 1;
                            text-align: center;
                            line-height: .666667rem;
                            margin: 0 .266667rem 0 .293333rem;
                            width: 1.2rem;
                            height: .666667rem;
                            background: @3;
                            border-radius: .32rem;
                            font-size: .373333rem;
                            color: @f;
                        }
                        span {
                            flex: 8;
                            color: @2;
                            font-size: .373333rem;
                        }
                    }
                    &:nth-child(6) {
                        height: 0.8125rem;
                        ;
                        margin-top: .4rem;
                        i {
                            padding-top: 0.1875rem;
                            float: left;
                            color: #111;
                            padding-left: .293333rem;
                            font-size: .4rem;
                        }
                        .comment {
                            float: left;
                            img {
                                width: .56rem;
                                height: .533333rem;
                                margin-left: .053333rem;
                            }
                        }
                        span {
                            float: right;
                            font-size: .4rem;
                            color: @9;
                            padding-top: 0.1875rem;
                        }
                    }
                }
            }
        }
        /* 用户上传的图片 */
        .up_img {
            width: 9.36rem;
            background: @f;
            margin: 0 .053333rem;
            .up_box {
                width: 8.746667rem;
                height: 6.453333rem; // background:red;
                margin: 0 auto;
                .up_box_ul {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        width: 2.8rem;
                        height: 2.053333rem;
                        border-radius: .106667rem; // margin:.133333rem .16rem .133333rem 0;
                        &:nth-child(1) {
                            background: pink;
                            margin: 0 .133333rem .133333rem 0;
                        }
                        &:nth-child(2) {
                            background: #daa520;
                            margin: 0 .133333rem .133333rem 0;
                        }
                        &:nth-child(3) {
                            background: #222;
                        }
                        &:nth-child(4) {
                            background: blue;
                            margin: 0 .133333rem .133333rem 0;
                        }
                        &:nth-child(5) {
                            background: red;
                            margin: 0 .133333rem .133333rem 0;
                        }
                        &:nth-child(6) {
                            background: forestgreen;
                        }
                        &:nth-child(7) {
                            background: yellowgreen;
                            margin: 0 .133333rem 0 0;
                        }
                        &:nth-child(8) {
                            background: salmon;
                            margin: 0 .133333rem 0 0;
                        }
                        &:nth-child(9) {
                            background: gold;
                        }
                    }
                }
            }
        }
        /* 点击查看更多产品 */
        .click_blook{
            width: 9.36rem;
            background: @f;
            margin:0 .053333rem 0 .053333rem;
            padding-top:.346667rem;
            .click_blook_btn{
                margin: 0 .266667rem;
                border-top:.013333rem solid @9;
                border-bottom:.013333rem solid @9;
                color: #16A5AF;
                font-size: .4rem;
                height: .96rem;
                text-align: center;
                line-height: .96rem;
            }
        }
        /* text文案 */
        .text {
            width: 9.36rem;
            background: @f;
            margin: 0 .053333rem;
            /* 文字介绍 */
            .introduce {
                padding: 0 .266667rem;
                text-align: left;
                p {
                    font-size: .373333rem;
                    color: @2;
                    line-height: .5625rem;
                    &:nth-child(1) {
                        padding-top: .32rem;
                    }
                    &:nth-child(2) {
                        padding-top: .32rem;
                    }
                    &:nth-child(3) {
                        padding: .4rem 0 .613333rem 0;
                    }
                }
            }
            /* 点击/查看量 */
            .examine {
                margin: 0 .266667rem; // background: red;
                display: flex;
                text-align: center;
                width: 8.8rem;
                height: .8rem;
                border-top: .013333rem solid @2;
                border-bottom: .013333rem solid @2;
                span {
                    font-size: .373333rem;
                    color: @2;
                    flex: 1;
                    height: .8rem;
                    line-height: .8rem;
                    position: relative;
                    &:nth-child(1) {
                        &::after {
                            content: '';
                            width: .293333rem;
                            height: .24rem;
                            background: url(../../images/share_img/comment_01.png) no-repeat;
                            background-size: cover;
                            position: absolute;
                            top: .266667rem;
                            left: .533333rem;
                        }
                    }
                    &:nth-child(2) {
                        &::after {
                            content: '';
                            width: .4rem;
                            height: .24rem;
                            background: url(../../images/share_img/comment_04.png) no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: .266667rem;
                            left: .533333rem;
                        }
                    }
                    &:nth-child(3) {
                        &::after {
                            content: '';
                            width: .293333rem;
                            height: .24rem;
                            background: url(../../images/share_img/collect_01.png) no-repeat;
                            background-size: cover;
                            position: absolute;
                            top: .266667rem;
                            left: .533333rem;
                        }
                    }
                }
            }
        }
        /* 点击评论按钮 */
        .btn {
            width: 9.36rem;
            height: 1.946667rem;
            background: @f;
            margin: 0 .053333rem 0 .053333rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom:.053333rem solid #16A5AF;
            .btn_discuss {
                width: 3.333333rem;
                height: .933333rem;
                color: @2;
                border-radius: .48rem;
                border: 1px solid @2;
                text-align: center;
                line-height: .933333rem;
                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    font-size: .4rem;
                    font-weight: 600;
                }
            }
        }
    }
}