body {
  width: 10rem;
  max-width: 10rem;
  /* 固定定位下载App按钮 */
}
body .wrapper {
  width: 9.466667rem;
  margin: 0 auto;
  background: #16A5AF;
  margin-bottom: 1.386667rem;
  /* 分享页面的知耳头部 */
  /* 基本信息 */
  /* Po */
  /* 点击评论按钮 */
}
body .wrapper .header_Share {
  width: 9.466667rem;
  height: 1.066667rem;
  background: #16A5AF;
  display: flex;
  align-items: center;
}
body .wrapper .header_Share .header_img {
  width: .453333rem;
  height: .666667rem;
  margin: 0 0 0 .266667rem;
  background: url(../../images/share_img/share_zhier_01.png) no-repeat;
  background-size: contain;
}
body .wrapper .header_Share .header_text {
  padding: 0 0 0 .266667rem;
}
body .wrapper .header_Share .header_text p:nth-child(1) {
  font-size: .373333rem;
  color: #fff;
  font-weight: 600;
}
body .wrapper .header_Share .header_text p:nth-child(2) {
  font-size: .24rem;
  color: #fff;
  font-weight: 100;
}
body .wrapper .user {
  width: 9.36rem;
  height: 2.373333rem;
  background: #fff;
  margin: 0 .053333rem;
}
body .wrapper .user .user_ul {
  width: 100%;
  height: 1.6rem;
}
body .wrapper .user .user_ul li {
  float: left;
}
body .wrapper .user .user_ul li:nth-child(1) {
  border-radius: 50%;
  width: .8rem;
  height: .8rem;
  margin: .4rem 0 0 .373333rem;
}
body .wrapper .user .user_ul li:nth-child(1) img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
body .wrapper .user .user_ul li:nth-child(2) {
  margin: .4rem 0 0 .133333rem;
}
body .wrapper .user .user_ul li:nth-child(2) p {
  padding-top: .213333rem;
  color: #666;
  font-size: .32rem;
  font-weight: 100;
}
body .wrapper .user .user_ul li:nth-child(3) {
  margin: .666667rem .293333rem 0 0;
  float: right;
}
body .wrapper .user .user_ul li:nth-child(3) span {
  font-size: .32rem;
  color: #999;
}
body .wrapper .user .date {
  color: #999;
  font-size: .266667rem;
  padding-left: .346667rem;
}
body .wrapper .Po {
  width: 9.36rem;
  background: #fff;
  margin: 0 .053333rem;
  /* 图片+播放按钮 */
  /* 文字介绍 */
  /* 点击/查看量 */
}
body .wrapper .Po .Po_top {
  margin: 0 auto;
  width: 8.933333rem;
  height: 5.333333rem;
  position: relative;
}
body .wrapper .Po .Po_top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .wrapper .Po .introduce {
  padding: 0 .266667rem;
  text-align: left;
}
body .wrapper .Po .introduce p {
  font-size: .373333rem;
  color: #222;
  line-height: .5625rem;
}
body .wrapper .Po .introduce p:nth-child(1) {
  padding-top: .32rem;
}
body .wrapper .Po .introduce p:nth-child(2) {
  padding: .4rem 0 .613333rem 0;
}
body .wrapper .Po .examine {
  margin: 0 .266667rem;
  display: flex;
  text-align: center;
  width: 8.8rem;
  height: .8rem;
  border-top: 0.013333rem solid #222;
  border-bottom: 0.013333rem solid #222;
}
body .wrapper .Po .examine span {
  font-size: .373333rem;
  color: #222;
  flex: 1;
  height: .8rem;
  line-height: .8rem;
  position: relative;
}
body .wrapper .Po .examine span:nth-child(1)::after {
  content: '';
  width: .293333rem;
  height: .24rem;
  background: url(../../images/share_img/comment_01.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: .266667rem;
  left: .533333rem;
}
body .wrapper .Po .examine span:nth-child(2)::after {
  content: '';
  width: .4rem;
  height: .24rem;
  background: url(../../images/share_img/comment_04.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: .266667rem;
  left: .533333rem;
}
body .wrapper .Po .examine span:nth-child(3)::after {
  content: '';
  width: .293333rem;
  height: .24rem;
  background: url(../../images/share_img/collect_01.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: .266667rem;
  left: .533333rem;
}
body .wrapper .btn {
  width: 9.36rem;
  height: 1.946667rem;
  background: #fff;
  margin: 0 .053333rem 0 .053333rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: .053333rem solid #16A5AF;
}
body .wrapper .btn .btn_discuss {
  width: 3.333333rem;
  height: .933333rem;
  color: #222;
  border-radius: .48rem;
  border: 1px solid #222;
  text-align: center;
  line-height: .933333rem;
}
body .wrapper .btn .btn_discuss a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: .4rem;
  font-weight: 600;
}
body .footer {
  width: 10rem;
  height: 1.386667rem;
  background: #ffffff;
  box-shadow: 0.026667rem 0px 0.106667rem rgba(51, 51, 51, 0.55);
  position: fixed;
  bottom: 0;
  left: 0;
}
body .footer .footer_ul {
  width: 100%;
  height: 100%;
}
body .footer .footer_ul li:nth-child(1) {
  float: left;
  width: .933333rem;
  height: .933333rem;
  background: url(../../images/share_img/zhier_01.png) no-repeat;
  background-size: cover;
  margin: .24rem 0 0 .24rem;
}
body .footer .footer_ul li:nth-child(2) {
  float: left;
  margin: .213333rem 0 0 .266667rem;
}
body .footer .footer_ul li:nth-child(2) p:nth-child(1) {
  font-size: .373333rem;
  color: #333;
}
body .footer .footer_ul li:nth-child(2) p:nth-child(2) {
  font-size: .32rem;
  color: #999;
}
body .footer .footer_ul li:nth-child(3) {
  float: right;
  width: 2.213333rem;
  height: .933333rem;
  background: #333;
  border-radius: .053333rem;
  margin: .24rem .24rem 0 0;
}
body .footer .footer_ul li:nth-child(3) a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: .933333rem;
  font-size: .32rem;
  color: #fff;
}
