body {
  width: 10rem;
  max-width: 10rem;
}
body .header_bg {
  width: 10rem;
  height: 16.213333rem;
  background: url(../../images/daren_img/goin_01.png) no-repeat;
  background-size: contain;
  position: relative;
  /* 头像 */
  /* 用户名称 */
  /* 按钮 */
  /* loading */
}
body .header_bg .head_header {
  width: 3.253333rem;
  height: 3.253333rem;
  border-radius: 50%;
  border: .053333rem solid #fff;
  position: absolute;
  top: 5.4375rem;
  left: 3.333333rem;
  overflow: hidden;
}
body .header_bg .head_header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .header_bg .header_name {
  font-size: .48rem;
  color: #16A5AF;
  text-align: center;
  padding-top: .106667rem;
  text-shadow: .026667rem .026667rem 0 #fff;
  position: absolute;
  top: 8.875rem;
  left: 50%;
  transform: translateX(-50%);
}
body .header_bg .header_btn {
  width: 5.573333rem;
  height: 1.813333rem;
  position: absolute;
  bottom: 3.04rem;
  left: 2.213333rem;
}
body .header_bg .header_btn a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
}
body .header_bg .header_btn a img {
  width: 100%;
  height: 100%;
}
body .header_bg #loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 1.866667rem;
  height: 1.866667rem;
}
body .header_bg #loading #loading_info {
  background: url(../../images/daren_img/donghua_01.gif) no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
}
/* 动画效果 */
@keyframes gun {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(38deg);
  }
}
