body {
  width: 10rem;
  max-width: 10rem;
}
body .wrapper {
  padding: .266667rem;
  color: rgba(0, 0, 0, 0.8);
  /* 知耳知币说明 */
  /* 知币获取 */
}
body .wrapper header {
  height: .826667rem;
  width: 100%;
  border-bottom: .013333rem solid #eee;
}
body .wrapper header h2 {
  line-height: .826667rem;
  font-size: .533333rem;
}
body .wrapper .agreement p {
  padding-top: .4rem;
  font-size: .293333rem;
}
body .wrapper .get_zhibi h2 {
  font-size: .346667rem;
  font-family: 600;
}
body .wrapper .get_zhibi ul {
  padding-top: .8rem;
}
body .wrapper .get_zhibi ul li {
  padding-top: .266667rem;
  font-size: .293333rem;
}
