<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>知耳试用</title>
    <!-- 引入swiper.css -->
    <link href="https://cdn.bootcss.com/Swiper/4.2.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../common/base.css">
    <link rel="stylesheet" href="../../css/probation_css/popularity.css">
    <script src="../../common/flexible.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <!-- 引入swiperjs -->
    <script src="https://cdn.bootcss.com/Swiper/4.2.0/js/swiper.min.js"></script>
</head>

<body>
    <div id="app">
        <!-- 头部 -->
        <header class="header">
            <!-- 轮播图 -->
            <div class="header_carousel">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div v-for="item in msg.carousel" class="swiper-slide">
                            <img :src="item" alt="">
                        </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>

                </div>

            </div>
            <!-- 左上角右上角小按钮 -->
            <div class="header_top">
                <img src="../../images/probation_img/back_01.png" alt="">
                <img src="../../images/probation_img/share_01.png" alt="">
                <!-- <div class="header_box">
                    <p>开始倒计时</p>
                    <p>70:54:32</p>
                </div> -->
                <!-- 未开始的时候,倒计时 -->
                <div v-show="time" class="count_down">
                    <p>开始倒计时</p>
                    <p class="time_p"></p>
                    <!-- <p class="time_p">70:54:32</p> -->
                </div>
                <!-- 倒计时结束之后,就系活动开始,显示数量.surplus -->
                <div v-show="count" class="surplus">
                    <p>剩余数量</p>
                    <p>{{msg.stock - msg.member_num}}/100</p>
                </div>
                <!-- 数量为空的时候,显示这个 -->
                <div v-show="over" class="loot_all">
                    <p>已结束</p>
                    <p>被抢光啦</p>
                </div>
            </div>
            <!-- 轮播图下面的说明 -->
            <div class="header_state">
                <div class="header_state_top">
                    <p>{{name}}</p>
                </div>
                <div class="header_state_center">
                    <div class="requirement">
                        <span>申请条件：</span>
                        <span>{{msg.currency}}</span>
                        <span>知币</span>
                    </div>
                    <!-- 小头像 -->
                    <div class="Plebz">
                        <span>
                            <img src="../../images/probation_img/header_01.jpeg" alt="">
                        </span>
                        <span>
                            <img src="../../images/probation_img/header_01.jpeg" alt="">
                        </span>
                        <span>
                            <img src="../../images/probation_img/header_01.jpeg" alt="">
                        </span>
                        <span>
                            <img src="../../images/probation_img/header_01.jpeg" alt="">
                        </span>
                        <span>
                            <img src="../../images/probation_img/header_01.jpeg" alt="">
                        </span>
                    </div>
                </div>
                <!-- 限量多少份 -->
                <div class="header_state_bottom">
                    <div class="quantity_left">
                        <span>限量</span>
                        <!-- <span></span> -->
                        <span>{{msg.stock}}</span>
                        <span>份</span>
                    </div>
                    <div class="quantity_right">
                        <span>{{msg.member_num}}</span>
                        <span>人参与</span>
                    </div>
                </div>
            </div>
        </header>


        <!-- 申请热度榜 -->
        <section class="heat">
            <!-- 活动未开始的时候显示 -->
            <div class="have_not_started">
                <div class="heat_top">
                    <h2>申请热度榜</h2>
                </div>
                <div class="heat_bottom">
                    <p>活动即将开始</p>
                </div>
                <!-- 装饰 -->
                <i class="adorn"></i>
            </div>
            <!-- 活动开始的时候显示这个 -->
            <div class="start">
                <div class="heat_top">
                    <h2>申请热度榜</h2>
                </div>
                <div class="heat_bottom">
                    <!-- 自己 -->
                    <div class="myHeat">
                        <i class="myHeat_i">-</i>
                        <img class="myHeat_img" v-show="msg.avatar" :src="msg.avatar" alt="">
                        <img class="myHeat_img" v-show="!msg.avatar" src="../../images/daren_img/default.png" alt="">
                        <!-- <img class="myHeat_img" src="../../images/probation_img/header_01.jpeg" alt=""> -->
                        <span v-show="msg.nickname">{{msg.nickname}}</span>
                        <span v-show="!msg.nickname">gery</span>
                        <span>
                            <a href="javascript:;">立即申请</a>
                        </span>
                    </div>
                    <!-- 排行榜 -->
                    <ul class="heatUl">
                        <li v-for="item in list">
                            <div class="heatUl_seniority">
                                <i class="heatUl_i"></i>
                                <img class="heatUl_img" :src="item.avatar" alt="">
                                <!-- <img class="heatUl_img" src="../../images/probation_img/header_01.jpeg" alt=""> -->
                                <span>{{item.member.id}}</span>
                                <!-- <span>Twelve_12</span> -->
                                <span>{{item.support_num}}</span>
                                <!-- <span>122018</span> -->
                            </div>
                        </li>

                        <!-- <li>
                            <div class="heatUl_seniority">
                                <i class="heatUl_i"></i>
                                <img class="heatUl_img" src="../../images/probation_img/header_01.jpeg" alt="">
                                <span>Twelve_12</span>
                                <span>122018</span>
                            </div>
                        </li>
                        <li>
                            <div class="heatUl_seniority">
                                <i class="heatUl_i"></i>
                                <img class="heatUl_img" src="../../images/probation_img/header_01.jpeg" alt="">
                                <span>Twelve_12</span>
                                <span>122018</span>
                            </div>
                        </li>
                        <li>
                            <div class="heatUl_seniority">
                                <i class="heatUl_i">4</i>
                                <img class="heatUl_img" src="../../images/probation_img/header_01.jpeg" alt="">
                                <span>Twelve_12</span>
                                <span>122018</span>
                            </div>
                        </li>
                        <li>
                            <div class="heatUl_seniority">
                                <i class="heatUl_i">5</i>
                                <img class="heatUl_img" src="../../images/probation_img/header_01.jpeg" alt="">
                                <span>Twelve_12</span>
                                <span>122018</span>
                            </div>
                        </li>
                        <li>
                            <div class="heatUl_seniority">
                                <i class="heatUl_i">6</i>
                                <img class="heatUl_img" src="../../images/probation_img/header_01.jpeg" alt="">
                                <span>Twelve_12</span>
                                <span>122018</span>
                            </div>
                        </li>
                        <li>
                            <div class="heatUl_seniority">
                                <i class="heatUl_i">7</i>
                                <img class="heatUl_img" src="../../images/probation_img/header_01.jpeg" alt="">
                                <span>Twelve_12</span>
                                <span>122018</span>
                            </div>
                        </li> -->
                    
                    </ul>
                    <!-- 查看全部 判断数据,如果大于7条或等于7条,然后显示出来,点击这个按钮,就会跳转到app里面 -->
                    <div class="start_btn">
                        <p>查看全部</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- 下面部分 -->
        <section class="activity">
            <div class="activity_img">
                <img src="../../images/probation_img/WechatIMG13.jpeg" alt="">
            </div>
            <div class="activity_declare">
                <!-- <div class="activity_declare_top">
                    <h2>活动说明</h2>
                    <p>1.将从申请热度榜的用户中抽出试用数量的名额。</p>
                    <p>2.可以通过分享我的热度页面给好友，增加自己在申请榜中的排名。</p>
                    <p>3.该活动的解释权归知耳所有。</p>
                </div> -->
                <!-- 按钮 -->
                <div class="activity_declare_btn">
                    <a href="javascripg:;">立即申请
                        <span>(900知币)</span>
                    </a>
                </div>
            </div>
        </section>

    </div>

    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../common/common.js"></script>
    <script src="../../js/probation_js/popularity.js"></script>
    <script>
    </script>
</body>

</html>